* {
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: enigma;
    src: url(./Cracked-Narrow.ttf);
}
@font-face {
    font-family: devilEmoji;
    src: url(DevilEmoji.ttf);
}

@font-face {
    font-family: folha;
    src: url(/Leafs.ttf);
}

canvas {
  display: block;
}

body {
  background-color: black;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
 }

span{
  opacity: 0;
  width: max-content;
  color: #fff;
  font-weight: lighter;
  line-height: 100%;
  height: max-content;
  background: url('http://i106.photobucket.com/albums/m280/YukioKenshin/chopnhay.gif') ;
  margin-top: 20px;
  font-family: enigma;
  align-self: center;
  animation: fade-in 8s linear forwards;
}
span:first-child {
  animation-delay: 1s;
  font-size: 15vw;
}
span:nth-child(){
  background-image: 
}

span:last-child {
  animation-delay: 2s;
  font-size: 3vw;
 }

@keyframes fade-in {
  0% {
    opacity: 0;
    color:black;
    
  }
  70%{
    opacity: .6;
    color:black;
  }

  100% {
    opacity: 1;
    color: #fff;
    text-shadow: #00ff00 0px 0px 10px, #00ff00 0px 0px 10px, #00ff00 0px 0px 10px;
  }
}

